
body {
  padding: 0;
  background-image: url("../images/paper.jpg");
}

/* Googl map style */

.angular-google-map-container { 
  height: 400px; 
  border: 6px solid white;
  box-shadow: 5px 5px 5px 5px grey;
}

.container {
  margin: 0 auto;
} 

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
